# Datos originales
data/raw/spanish_houses.csv

# Datos generados/intermedios
data/processed/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store

# Entorno virtual
.venv/
venv/
env/

# Archivos temporales
*.tmp
*.log
